<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
</head>
<body>
    <p>你好！</p>
    <img src="{{ url_for('static', filename = 'images/flask.jpg') }}">
    <script src="{{ url_for('static', filename='javascript/alert.js') }}"></script>
</body>
</html>